<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
    <font face="Comic Sans MS">
        <h1>
            Ваша корзина пока пуста! Передите в каталог товаров.
        </h1>
        <p>
            <a href="/platform/cosmetics">
                Перейти в каталог
            </a>
        </p>
        <p>
            <a href="/platform">
                Вернуться на главную страницу
            </a>
        </p>
    </font>
</body>
</html>