<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог косметики</title>
</head>
<body>
     <font face="Comic Sans MS">
        <h1>
            Косметика
        </h1>
        <table>
            <tr>
                <td>Жидкая матовая помада с плампинг-эффектом VIVIENNE SABO Volummatte</td>
                <td><button>Купить</button></td>
            </tr>
            <tr>
                <td>Устойчивый гелевый карандаш для губ VIVIENNE SABO Le Grand volume</td>
                <td><button>Купить</button></td>
            </tr>
            <tr>
                <td>Тушь для ресниц VIVIENNE SABO Grotesquee</td>
                <td><button>Купить</button></td>
            </tr>
        </table>
        <p>
            <a href="/platform">
                Вернуться на главную страницу
            </a>
        </p>
    </font>
</body>
</html>