<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
     <font face="Comic Sans MS">
        <h1>
            Косметика
        </h1>
        <table>
            <tr>
                <td>{{mascara}}</td>
                <td><button>Купить</button></td>
            </tr>
            <tr>
                <td>{{pencil}}</td>
                <td><button>Купить</button></td>
            </tr>
            <tr>
                <td>{{pomade}}</td>
                <td><button>Купить</button></td>
            </tr>
        </table>
        <ul>
             <li>{{tint}}</li>
            <td><button>Купить</button></td>
            <li>{{blush}}</li>
            <td><button>Купить</button></td>
        </ul>
        <p>
            <a href="/platform">
                Вернуться на главную страницу
            </a>
        </p>
    </font>
</body>
</html>