<html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <h1>
        <font face="Comic Sans MS", color="#680d8c">
            Главная страница
        </font>
    </h1>
    <font face="Comic Sans MS">
    <p>
        <a href="/platform">
            Главная
        </a>
    </p>
    <p>
        <a href="cosmetics">
            Косметика
        </a>
    </p>
    <p>
        <a href="cart">
            Корзина
        </a>
    </p>
    </font>
</body>
</html>